.nav-item {
    font-family: Calibri;
}

.parent-container {
    width: 85%;
    margin: auto;
    margin-top: 10px;
}

.main-header {
    padding: 10px;
}

.body-content {
    padding: 20px;
}

.table-display {
    padding-top: 20px;
    padding-bottom: 20px;
}

.page-header {}

footer {
    padding:12px;
    text-align:center;
    background-color:#eeeeee;
}

.error {
  color: red;
  margin-left: 5px;
}

label.error {
  display: inline;
}