html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  color: #17252A;
  width: 100%;
  font-size: 0.9em;
  background-color: #F7F9FB;
  text-align:center;
  padding: 6px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus, .btn-primary:active:focus{
    background-color: #2B7A78 !important;
    border-color: #2B7A78;
}

.nav-item {
    font-family: Calibri;
}

.parent-container {
    width: 85%;
    margin: auto;
    margin-top: 10px;
}

.main-header {
    padding: 10px;
}

.body-content {
    padding: 20px;
}

.table-display {
    padding-top: 20px;
    padding-bottom: 20px;
}

.page-header {}

.error {
  color: red;
  margin-left: 5px;
}

label.error {
  display: inline;
}
