<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="snippets.html :: page_head"></head>

<body>
<nav th:replace="snippets.html :: navbar"></nav>

<div class="parent-container">
    <div class="main-header">
        <p class="page-header">
            <span style="font-size: 20px">Bin Page</span>
            <br/>
            <span class="text-muted" style="font-size:0.9em;">Add and View the created Bins.</span>
        </p>
        <button class="btn btn-primary" data-target="#exampleModal" data-toggle="modal" type="button">
            <i aria-hidden="true" class="fa fa-plus" ></i>
            Create Bins
        </button>
        <button class="btn btn-primary" data-target="#exampleModal" data-toggle="modal" type="button">
            <i aria-hidden="true" class="fa fa-cubes" ></i>
            Add Bin Inventory
        </button>
    </div>

    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="binIdModal" role="dialog"
         tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="binIdModalLabel">Created Bin Details.</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    <div class="modal-body">
                        <table class="table table-sm table-striped" id="new-bin-info-table" style="width:50%; margin:auto">
                            <thead>
                            <tr>
                                <th scope="col" style="text-align:center;">Bin ID</th>
                                <th scope="col" style="text-align:center;">Status</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                    </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" role="dialog"
         tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create New Bins.</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="bin-form">
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="binQuantity">Quantity</label><br/>
                            <input aria-describedby="nameHelp" class="form-control" id="binQuantity" name="binQuantity"
                                   placeholder="Enter Number of Bins" style="width:100%; float:left;" type="text"
                                   required pattern="[0-9]*" title="Enter a valid number"/>
                            <br/>
                            <div>
                                <small class="form-text text-muted" id="nameHelp" style="clear:both">Enter Number of
                                    Bins to be
                                    Created.</small>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                        <button class="btn btn-primary" id="add-bin" type="submit">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>

<footer th:replace="snippets.html :: footer"></footer>
<script th:src="@{/static/bin.js}"></script>

</body>
</html>