<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="snippets.html :: page_head"></head>

<body>
<nav th:replace="snippets.html :: navbar"></nav>

<div class="parent-container">
    <div class="main-header">
        <p class="page-header">
            <span style="font-size: 20px">Bin Page</span>
            <br/>
            <span class="text-muted" style="font-size:0.9em;">Add and View the created Bins.</span>
        </p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Create Bins
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create New Bins.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="bin-form">
                        <div class="form-group">
                            <label for="binQuantity">Quantity</label><br/>
                            <input aria-describedby="nameHelp" class="form-control" id="binQuantity" name="binQuantity"
                                   placeholder="Enter Number of Bins" style="width:78%; float:left;" type="text" />
                            <br/>
                            <small class="form-text text-muted" id="nameHelp">Enter Number of Bins to be Created.</small>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="add-bin">Create</button>
                </div>
            </div>
        </div>
    </div>

    <div class="body-content">
        <div class="table-display">
            <table class="table table-sm table-striped" id="bin-table" style="width:70%; margin:auto">
                <thead>
                <tr>
                    <th colspan="2">
                        Bin Detail List &nbsp
                        <button class="btn btn-primary" id="refresh-data" style="float: right; width:60" type="button">
                            <i aria-hidden="true" class="fa fa-refresh"></i>
                        </button>
                    </th>
                </tr>
                <tr>
                    <th scope="col" style="text-align:center;">ID</th>
                    <th scope="col" style="text-align:center;">Status</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>

<footer th:replace="snippets.html :: footer"></footer>
<script th:src="@{/static/bin.js}"></script>

</body>
</html>