<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="snippets.html :: page_head"></head>

<body>
<nav th:replace="snippets.html :: navbar"></nav>

<div class="parent-container">
    <div class="main-header">
        <p class="page-header">
            <span style="font-size: 20px">Bin Inventory Page</span>
            <br/>
            <span class="text-muted" style="font-size:0.9em;">Add and View Bin-wise Inventory.</span>
        </p>
        <button class="btn btn-primary" data-target="#exampleModal" data-toggle="modal" type="button">
            <i aria-hidden="true" class="fa fa-plus"></i>
            &nbspAdd Bin Inventory Item
        </button>
    </div>
    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" role="dialog"
         tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Bin Inventory Item</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="binSku-form">
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="binId">Bin ID</label>
                            <input aria-describedby="binIdHelp" class="form-control" id="binId" name="binId"
                                   pattern="[0-9]*" placeholder="Enter Bin ID" required title="This field is required"
                                   type="text">
                            <small class="form-text text-muted" id="binIdHelp">Bin ID should exist in created Bin
                                table.</small>
                        </div>

                        <div class="form-group">
                            <label for="globalSkuId">Global SKU ID</label>
                            <input aria-describedby="globalSkuIdHelp" class="form-control" id="globalSkuId"
                                   name="globalSkuId"
                                   pattern="[0-9]*" placeholder="Enter GSKU ID" required title="This field is required"
                                   type="text">
                            <small class="form-text text-muted" id="globalSkuIdHelp">Product with GSKU must be
                                registered.</small>
                        </div>

                        <div class="form-group">
                            <label for="quantity">Product Quantity</label>
                            <input class="form-control" id="quantity" name="quantity"
                                   pattern="[0-9]*" placeholder="Enter Product Quantity" required
                                   title="This field is required"
                                   type="text">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" id="add-binSku" type="submit">Submit</button>
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="body-content">
        <div class="table-display">
            <table class="table table-sm table-striped" id="binSku-table">
                <thead>
                <tr>
                    <th colspan="4">Bin Inventory List
                        <button class="btn btn-primary" id="refresh-data" style="float: right; width:60" type="button">
                            <i aria-hidden="true" class="fa fa-refresh"></i>
                        </button>
                    </th>
                </tr>
                <tr>
                    <th scope="col" style="width:80px; text-align:center;">ID</th>
                    <th scope="col">Bin ID</th>
                    <th scope="col">Global SKU</th>
                    <th scope="col" style="width:130px; text-align:center;">Quantity</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>

</div>

<footer th:replace="snippets.html :: footer"></footer>

<script th:src="@{/static/binInventory.js}"></script>

</body>
</html>