<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="page_head">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta name="baseUrl" th:attr="content=${baseUrl}">

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://storage.googleapis.com/www.increff.com/img/favicon.png?v=2" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="https://storage.googleapis.com/static.increff.com/fonts/increff-fonts/increff-icons/1.0.0/css/style.css"/>
    <link rel="stylesheet" th:href="@{/static/app.css}">
</head>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #17252A; font-weight: 400;"
     th:fragment="navbar">
    <nav class="navbar navbar-light" style="padding-right:0px">
        <a class="navbar-brand" href="@{/}" style="color:#FEFFFF; font-weight: 500;">
            <span class="increff-client-icons increff-logo" style="font-size: 0.8em; color:#FEFFFF"></span>
            <span class="increff-client-icons increff-text" style="font-size: 0.8em; color:#FEFFFF"></span>
        </a>
    </nav>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" style="color:#FEFFFF;" th:href="@{/}">Home <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" style="color:#FEFFFF;" th:href="@{/consumer}">Consumers</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" style="color:#FEFFFF;" th:href="@{/product}">Products</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" style="color:#FEFFFF;" th:href="@{/bin}">Bins</a>
            </li>
            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   href="#" role="button" style="color:#FEFFFF;">
                    Channels
                </a>
                <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                    <a class="dropdown-item" th:href="@{/channel}">Manage Channels</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/channelListing}">Add Channel Listing</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" style="color:#FEFFFF;" th:href="@{/order}">Orders</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-sm-2">
                <li class="nav-item">
                    <a class="nav-link" style="color:#FEFFFF;" th:href="@{/about}">About</a>
                </li>
            </ul>
        </form>
    </div>
</nav>

<footer class="footer" th:fragment="footer">
    <div id="snackbar"></div>

    <div class="container">
        <span class="text-muted">
            <span style="color:#DEF2F1">
                <i aria-hidden="true" class="fa fa-chevron-circle-up"></i>
                Assure &copyIncreff 2019
            </span>
        </span>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script th:src="@{/static/app.js}"></script>
    <script th:src="@{/static/papaparse.min.js}"></script>
</footer>